<!DOCTYPE HTML>
<html ng-app="pushAdmin">
<head>
    <title>MTT Push Admin Console</title>
    <!-- insert css libs here -->
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/main.css ">

    <!--main js -->
    <script type="text/javascript" src="static/js/libs/angular-1.0.4.js"></script>
    <script type="text/javascript" src="static/js/libs/angular-cookies-1.0.4.min.js"></script>
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
                <div class="push-title-header" ng-controller="loginController">
                    Push Notification Service
                    <br/>
                    <span class="welcome">
                        Welcome {{authenticatedUser.name}}
                        <a href="#" class="navbar-link" ng-click="logout()">logout</a>
                    </span>
                </div>
                <div class="pull-right app-dropdown" ng-show="currentApplication">
                    <select ng-model="currentApplication" ng-options="app.name for app in applications" ng-change="showCreatedAppAlert = false">
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid temp-container-top-margin wrapper">
        <div class="row-fluid">
            <div class="span3">
                <div class="well sidebar-nav" ng-show="currentApplication">
                    <ul class="nav nav-list" ng-controller="dashboardController">
                        <li ng-class="navClass('app/details')">
                            <a href='#/app/details' ng-click="closeNotification()"><span class="sidebar-images">&raquo;</span>Details</a>
                        </li>
                        <li ng-class="navClass('compose')"><a href='#/compose'>
                            <span class="sidebar-images">&raquo;</span>Compose</a>
                        </li>
                        <li ng-class="navClass('history')"><a href='#/history' >
                            <span class="sidebar-images">&raquo;</span>History</a>
                        </li>
                        <li ng-class="navClass('schedule')"><a href='#/schedule' >
                            <span class="sidebar-images">&raquo;</span>Schedule</a>
                        </li>
                        <li ng-class="navClass('targets')"><a href='#/targets' >
                            <span class="sidebar-images">&raquo;</span>Targets</a>
                        </li>
                        <li ng-class="navClass('reports')"><a href='#/reports' >
                            <span class="sidebar-images">&raquo;</span>Reports</a>
                        </li>
                        <li ng-class="navClass('settings')"><a href='#/settings' >
                            <span class="sidebar-images">&raquo;</span>Settings</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/span-->
            <div class="span9">
                <div class="hero-unit">
                    <div ng-view></div>
                </div>
            </div>
            <!--/span-->
        </div>
        <!--/row-->
        <hr>

    </div>
    <!--/.fluid-container-->
    <footer class="footer">
        <p>&copy; MTT 2013</p>
    </footer>


    <hr>

    <!-- insert javascript libs here -->
    <script type="text/javascript" src="static/js/libs/ui-bootstrap-tpls-0.1.0-SNAPSHOT.min.js"></script>
    <script type="text/javascript" src="static/js/libs/aes.js"></script>

    <!-- insert push specific page files here-->
    <script type="text/javascript" src="static/js/page/app.js"></script>
    <script type="text/javascript" src="static/js/page/controllers.js"></script>
    <script type="text/javascript" src="static/js/page/services.js"></script>
</body>
</html>
